<div class="example">
  <form class="k-form" [formGroup]="form">
    <fieldset class="k-form-fieldset">
      <legend class="k-form-legend">Your Account</legend>
      <kendo-avatar initials="EG" width="80px" height="80px" shape="circle"></kendo-avatar>

      <kendo-formfield>
        <kendo-label [for]="username" text="Username"></kendo-label>
        <kendo-textbox formControlName="username" [clearButton]="true" #username required>
        </kendo-textbox>

        <kendo-formhint>Your Username</kendo-formhint>
        <kendo-formerror>Error : Username is required..</kendo-formerror>
      </kendo-formfield>

      <kendo-formfield>
        <kendo-label [for]="password" text="Password"></kendo-label>
        <kendo-textbox formControlName="password" [clearButton]="true" #password required>

          <ng-template kendoTextBoxSuffixTemplate>
            <button kendoButton look="clear" icon="eye" (click)="toggleVisibiity()"></button>
          </ng-template>
        </kendo-textbox>

        <kendo-formhint>Your Password</kendo-formhint>
        <kendo-formerror>Error : Password is required..</kendo-formerror>

      </kendo-formfield>

      <kendo-formfield>
        <div class="k-checkbox-wrap">
          <input type="checkbox" #loggedin kendoCheckBox formControlName="loggedin" />

          <kendo-label [for]="loggedin" class="k-checkbox-label" text="Keep me logged in"></kendo-label>
        </div>
        <kendo-formhint>Next time, you will be logged in automatically</kendo-formhint>
      </kendo-formfield>

      <div class="k-form-buttons">
        <button kendoButton themeColor="primary" (click)="login()">Login</button>
        <button kendoButton (click)="clearForm()">Clear</button>
      </div>

    </fieldset>

  </form>
</div>